# --- SEGURANÇA (Obrigatório) ---
.env
.DS_Store

# --- AMBIENTE PYTHON ---
__pycache__/
*.pyc
venv/
.venv/
env/

# --- ARQUIVOS TEMPORÁRIOS DO VS CODE ---
.vscode/

# --- NOTA IMPORTANTE ---
# Não estamos ignorando os .csv nem o script V2 
# porque eles fazem parte da entrega final!